<template>
    <form @submit.prevent>
        <div class="border-t pt-4 mt-4 flex flex-col">
            <div class="flex mb-2 text-gray-600 font-bold">
                <h2 class="w-1/2">Type</h2>
                <h2 class="w-1/2">Quantity</h2>
            </div>
            <div class="flex">
                <div class="flex w-1/2">
                    <div class="flex items-center">
                        <label v-for="(price, type, index) in ticketTypes" :key="type" :for="type" class="flex items-center mr-6">
                            <input v-model="checked" class="mr-2" type="radio" :id="type" name="type" :value="type" :required="index === 0">
                            {{ type }}
                        </label>
                    </div>
                </div>
                <input v-model="quantity" class="border rounded w-1/2 p-2 focus:shadow-outline" type="number" min="1" max="20" placeholder="1" required>
            </div>
        </div>
        <p class="pt-2 text-right text-gray-600 uppercase text-sm">
            ETB <span class="font-bold text-gray-800 text-2xl">{{ total }}</span>
        </p>
        <div class="pt-4">
            <button @click="open = true" type="submit" class="w-full py-2 bg-blue-500 text-white rounded font-bold hover:bg-blue-400">
                Buy Tickets
                <portal to="modals" v-if="open">
                    <pay-modal @close="open = false" v-if="open" :event="event" :ticket-types="ticketTypes" :ticket="{type: checked, quantity: quantity}"></pay-modal>
                </portal>
            </button>
        </div>
    </form>
</template>

<script>
    import PayModal from './PayModal.vue'

    export default {
        props: ['ticketTypes', 'event'],
        components: {
            PayModal
        },
        data() {
            return {
                checked: Object.keys(this.ticketTypes)[0],
                quantity: 1,
                open: false,
            }
        },
        computed: {
            total() {
                return this.checked && this.quantity > 0
                    ? (this.ticketTypes[this.checked] * this.quantity / 100).toFixed(2)
                    : '0.00'
            },
        },
        methods: {
        }
    }
</script>
