<template>
	<div @click="closePayModal" class="fixed inset-0 flex justify-center items-center" style="background-color: hsla(180, 100%, 0%, 0.3)">
		<div @click.stop class="max-w-xl w-full bg-white rounded-lg shadow-lg overflow-hidden">
			<div class="p-6 bg-gray-200 text-gray-800">
				<h2 class="font-bold">Megbiya</h2>
			</div>
			<div class="px-6 pt-4 text-gray-600">
				<p>You are purchasing</p>
				<p class="text-2xl uppercase font-bold tracking-wide text-gray-700">{{ ticket.quantity }}<span class="text-sm">x</span> {{ ticket.type }} <span class="text-sm">{{ ticketDescription }}</span></p>
				<p>to <span class="font-bold">{{ event.title }}</span></p>
			</div>
			<form @submit.prevent="pay">
				<div class="p-6">
					<div class="pb-4">
						<input v-model="email" type="text" name="email" id="email" placeholder="Email" class="text-gray-800 w-full border border-transparent shadow rounded py-2 px-4">
					</div>
					<div id="card" class="text-base text-gray-800 w-full border shadow rounded py-4 px-4"></div>
				</div>
				<div class="text-center">
					<button class="bg-blue-500 w-full py-4 text-white font-bold hover:bg-blue-400 relative" :class="{'is-loading': working}" :disabled="working">Pay <span class="text-xs">ETB</span>{{ total }}</button>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		props: ['event', 'ticket', 'ticketTypes'],
		data() {
			return {
				stripe: {},
				elements: {},
				card: {},
				working: false,
				email: ''
			}
		},
		created() {
			this.stripe = Stripe(process.env.MIX_STRIPE_KEY)
			this.elements = this.stripe.elements()
		},
		mounted() {
			this.card = this.elements.create('card')
			this.card.mount(document.querySelector('#card'))

			this.card.addEventListener('change', ({error}) => {
				const displayError = document.getElementById('card-errors')
				if (error) {
					displayError.textContent = error.message
				} else {
					displayError.textContent = ''
				}
			})
		},
		computed: {
			ticketDescription() {
				return this.ticket.quantity > 1 ? 'tickets' : 'ticket'
			},
			total() {
				return (this.ticket.quantity * this.ticketTypes[this.ticket.type] / 100).toFixed(2)
			}
		},
		methods: {
			pay() {
				this.working = true
				// get a token from Stripe
				this.stripe.createToken(this.card)
					.then((result) => {
						if (result.error) throw result.error
						return axios.post(`/events/${this.event.id}/orders`, {
							'email': this.email,
							'ticket_quantity': this.ticket.quantity,
							'ticket_type': this.ticket.type,
							'payment_token': result.token.id
						})
					}).then((order) => window.location.href = `/orders/${order.data.confirmation_number}`)
					.catch(err => console.log(err))
					.finally(() => {
						this.working = false
						setTimeout(() => {
							this.$emit('close')
						}, 500)
					})
			},
			closePayModal() {
				this.$emit('close')
			}
		}
	}
</script>

<style>
/*.StripeElement {
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
	font-size: 1.25rem;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}*/
.is-loading {
	align-items: center;
	display: inline-flex;
	justify-content: flex-start;
	position: relative;
	cursor: pointer;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	color: transparent;
}

.is-loading::after {
	border: 2px solid white;
	border-radius: 50%;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 24px;
	width: 24px;
	position: absolute;
	animation: spin 320ms linear infinite;
}

@keyframes spin {
	0% { transform: rotateZ(0deg) }
	100% { transform: rotateZ(359deg) }
}
</style>